<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<body class="bg-dark">
    <%- include('./partials/nav') %>
    <%- include('./partials/cards') %>
    <%- include('./partials/script') %>
</body>
</html>

